<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ruta Óptima</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="card">
        <h1><i class="fas fa-map-signs"></i> Ruta Óptima</h1>
        <div id="ruta-container">
            <p class="subtitle"><i class="fas fa-route"></i> <strong>Ruta:</strong></p>
            <div id="ruta" class="ruta-flow">
                {% for ciudad in ruta %}
                <div class="step">
                    <i class="fas fa-map-marker-alt"></i>
                    <span>{{ ciudad }}</span>
                </div>
                {% if not loop.last %}
                <div class="arrow">
                    <i class="fas fa-arrow-right"></i>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <p class="subtitle"><i class="fas fa-ruler-horizontal"></i> <strong>Distancia Total:</strong> <span id="distancia">{{ distancia }}</span> km</p>
        </div>
        <button id="cambiar-ruta" class="btn"><i class="fas fa-sync-alt"></i> Generar Nueva Ruta</button>
    </div>
    <script src="/static/js/script.js"></script>
</body>
</html>